[workspace]
members = [
    "crates/common",
    "crates/plts",
    "crates/stopgap",
]
resolver = "2"

[profile.dev]
panic = "unwind"

[profile.release]
panic = "unwind"
opt-level = 3
lto = "fat"
codegen-units = 1
